alias zshrc="vim ~/.zshrc"
alias vimrc="vim ~/.vimrc"

alias v='vim'

alias g="gulp"
alias b="gulp build"
alias c="gulp clean"
alias d="gulp deploy"

alias la="ls -halk"
alias md='mkdir -p'

alias :q='exit'
