alias zshrc="vim ~/.zshrc"
alias vimrc="vim ~/.vimrc"
alias _="sudo "
alias v="vim"
alias la="ls -halk"
alias md="mkdir -p"

## npm

alias s="npm start"
alias b="npm run build"
alias d="npm run deploy"
alias l="npm run lint"
alias npmL="npm list -g --depth=0"
