export EDITOR=vim

# Setup locales
#
# If you'll got locale related error by `perl -e exit`, you should generate
# it by code below:
#
# ```shell
# sudo locale-gen
# sudo dpkg-reconfigure locales
# ```

export SHELL=/bin/zsh

export LANGUAGE=en_US.UTF-8
export LC_ALL=en_US.UTF-8
export LANG=en_US.UTF-8
export LC_TYPE=en_US.UTF-8

# path
export PATH=/usr/local/bin:$PATH
export PATH=/usr/local/sbin:$PATH
export PATH=$DOTFILES/bin:$PATH
export PATH=/usr/local/share/npm/bin:$PATH

# node
export PATH="$HOME/.node_modules_global/bin:$PATH"

# go
export GOPATH=$HOME/.go
export PATH=$GOPATH/bin/:$PATH

# ruby
export PATH=$HOME/.rbenv/bin:$PATH
